name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@v3.33
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: Sermodi
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_days: 14
          plugin_habits_charts: yes
          plugin_habits_charts_type: graph
